*{font-family: "Iranian sans", Tahoma, Arial;}
body
{
    font-family: "Iranian sans", Tahoma, Arial;
	padding-top : 60px;
}

div.question {
	padding : 10px 0px;
	border-top : 1px solid ;
	font-weight : bold;
}

ol.question-list {
	font-weight : bold;
	font-size : 14pt;	
}

#footer {
	padding-top : 3px;
	margin-top : 10px;
	border-top : 1px solid gray;
}

