@font-face {
	font-family: 'Yas';
	src: url('fonts/Yas.eot');
	src: local('☺'), url('fonts/Yas.woff') format('woff'), url('fonts/Yas.ttf') format('truetype'), url('fonts/Yas.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Iranian Sans';
	src: url('fonts/irsans.otf');
	src: local('☺'), url('fonts/irsans.woff') format('woff'), url('fonts/irsans.ttf') format('truetype'), url('fonts/irsans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{font-family: 'Iranian Sans',"Yas", Tahoma, Arial;}
body
{
    font-family: "Yas", Tahoma, Arial;
    line-height: 25px;
    font-size: 12pt;
    text-align: justify;
}

.topbar {
	position : static;
	margin-bottom : 15px;
}

div.question {
	padding : 10px 0px;
	border-top : 1px solid ;
	font-weight : bold;
}
li {
    line-height: 25px;
}

ol.question-list {
	font-weight : bold;
	font-size : 14pt;	
}

#footer {
	padding-top : 3px;
	margin-top : 10px;
	border-top : 1px solid gray;
}

h1 small{
    margin-right: 10px;
}

p{
    font-size:12pt;
}
